# Application config
PORT=3331
NODE_ENV=local
DEBUG=false
API_VERSION=v1
s
# #timeszone
TZ=Asia/Phnom_Penh

# Database Configuration Local Server
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=nestjs_api
DB_USERNAME=postgres
DB_PASSWORD=9!3BoWamok9v
DB_APPLICATION_NAME=nestjs-api

# Redis Configuration
REDIS_TTL=0
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=Admin@123

AUTHORIZATION_NAME=nest-auth
AUTHORIZATION_URL=http://ec2-34-211-227-67.us-west-2.compute.amazonaws.com:8380
AUTHORIZATION_CLIENT_ID=nest-auth-client-id
AUTHORIZATION_CLIENT_SECRET=kXbQQT7cyhiiBFpvVCfy6G0gAY1t4kmV